/* Tablet styles (screens ≥ 768px) */
@media (min-width: 768px) {
  /***************************** FontAwesome Icons *************************/
  .fa-brands {
    font-size: x-large;
  }

  /************************************* Body ***********************************/
  body {
    line-height: 1.6;
  }

  /****************************** Container *****************************/
  .container {
    padding: 3rem;
  }

  .container h2 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  /****************************** Header *******************************/
  header {
    top: 2rem;
  }

  .header-container {
    padding: 1rem 5rem;
    height: 5rem;
  }

  .header-container img {
    width: 8.25rem;
  }

  /* Toggle Button */
  .menu-toggle {
    display: none;
  }

  .navbar {
    position: static;
    display: flex !important;
    flex-direction: row;
    background: none;
  }

  .navbar ul {
    display: flex;
    gap: 1rem;
  }

  .navbar ul li a {
    border: none;
    padding: 0;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .nav-links li a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .nav-links li a:hover {
    color: aqua;
  }

  /*************************** Hero Section ****************************************/
  .hero {
    padding-left: 2rem;
    margin: 10rem 2rem 3rem 2rem;
  }

  /* Hero Content */
  .hero-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .hero-description {
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
    width: 50vw;
  }

  .btn {
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    border-radius: 8px;
  }

  /*************************************** About Section *********************************/
  /* Content */
  .about-content {
    flex-direction: row;
    gap: 5rem;
  }

  /* Text & Tags */
  .about-text p {
    line-height: 1.7;
  }

  /************************************** Project Section **************************************/
  .project-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 3.125rem;
    column-gap: 3.125rem;
    padding: 3rem 0 3rem 0;
  }

  /* Items */
  .project-item {
    padding: 2rem;
    width: 18.75rem;
  }

  /* Description */
  .project-description {
    width: 9.375rem;
  }

  .project-description h3 {
    margin-bottom: 1rem;
  }

  .project-description p {
    font-size: .7rem;
    margin-bottom: 1.5rem;
  }

  .project-description a {
    font-size: .8rem;
    padding: .5rem;
  }

  /* Project Image */
  .project-img {
    width: 6.25rem;
    height: 100%;
    padding: .5rem;
  }

  .project-mokeup {
    padding: 1rem;
  }

  /**************************************** Contact Section ******************************************/
  .contact-container {
    padding: 0 2rem;
  }

  .contactForm {
    width: 28.125rem;
  }
}

/******************************* Desktop styles (screens ≥ 1024px) ***************************************/
@media (min-width: 1024px) {
  /***************************** FontAwesome Icons *************************/
  .fa-brands {
    font-size: x-large;
  }

  /************************************* Body ***********************************/
  body {
    line-height: 1.6;
  }

  /****************************** Container *****************************/
  .container h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  /*************************** Hero Section ****************************************/
  .hero {
    padding-left: 10rem;
    margin: 10rem 2rem 3rem 2rem;
    height: 80vh;
  }

  /* Hero Content */
  .hero-container h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .hero-description {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    width: 50vw;
  }

  .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 12px;
  }

  /*************************************** About Section *********************************/
  /* Content */
  .about-content {
    gap: 6rem;
  }

  /* Text & Tags */
  .about-text p {
    line-height: 1.7;
    font-size: 1.3rem;
    margin-bottom: 4rem;
  }

  /************************************** Project Section **************************************/
  .project-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 5.125rem;
    column-gap: 5.125rem;
    padding: 6rem 0 6rem 0;
  }

  /* Items */
  .project-item {
    padding: 3rem;
    width: 30.75rem;
    height: 16.75rem;
    border-radius: 15px;
  }

  /* Description */
  .project-description {
    width: 12rem;
  }

  .project-description h3 {
    margin-bottom: 1.2rem;
  }

  .project-description p {
    font-size: 1rem;
  }

  .project-description a {
    font-size: 1rem;
    padding: .75rem 1.25rem;
  }

  /* Project Image */
  .project-img {
    width: 9.25rem;
    padding: 1rem;
  }
}

/******************************* 1280px ********************************************/
@media (min-width: 1280px) {
}

/******************************* 1440px ********************************************/
@media (min-width: 1440px) {
}

/******************************* 1920px **********************************************/
@media (min-width: 1920px) {
}
